/* Css code for the main page */

body{
  font-family: Verdana, Arial, sans-serif;
  background: black;
  font-color: white;
}

header{
  text-color: yellow;
  text-decoration: underline;
}

nav{
  text-decoration: bold;
}

h1{
  line-height: 200%;
}

.category{
  font: bold 1.1em;
}

footer{
  font: italic .70em;
}
