/* Css code for the main page */

body{
  font-family: Verdana, Arial, sans-serif;
  background: black;
  color: white;
}

header{
  color: yellow;
  text-decoration: underline yellow;
}

nav{
  font: bold;
}

h1{
  line-height: 200%;
}

.category{
  font: bold 1.1em;
}

footer{
  font: italic .70em;
}
